<%- include('particles/header.ejs') %> 
<div class="container-fluid">
    <h2>Compose</h2>

    <form method="post" action="/compose">
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Title</label>
        <input type="text" class="form-control" name="head" >
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Post</label>
        <textarea class="form-control" name="text" rows="7"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Publish</button>
    </form>
</div>


<%- include('particles/footer.ejs') %> 