<%- include('particles/header.ejs') %> 

<div class="container-fluid">
    <h1>Contact</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum sed quibusdam vel eaque tenetur, totam ducimus expedita nisi? Neque suscipit expedita eos est maxime eum sint aspernatur provident odio debitis!</p>
</div>

<%- include('particles/footer.ejs') %> 