<%- include('particles/header.ejs') %> 

<div class="container-fluid">
    <h2>Home</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus repudiandae tempore alias. Architecto alias, nihil molestiae nesciunt, aut aspernatur a ab officiis harum ex pariatur aperiam cumque dolores quod rem.</p>

    <% entries.forEach((entry) => { %>
        <h3><%= entry.head %> </h3>
        <p><%= entry.text %></p>
    <% }) %> 

</div>



<%- include('particles/footer.ejs') %> 