<div class="container-fluid">
    <footer class="py-3 my-0 fixed-bottom bg-secondary bg-opacity-10">
        <p class="text-center text-muted footer">&copy; 2022 Artur Castellanos</p>
    </footer>
    </div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>